body {
	width: 40%;
	background-color: #e1e9f0;
	font-family: arial;
	margin: 0 auto;
}
h1 {
	margin-left: 20%;
}

.main {
	background-color: white;
	border-radius: 10px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px;
}

button {
	background-color: #03cae4;
	color: white;
	border: none;
	border-radius: 10px;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	padding: 10px;
	font-weight: bold;
	margin-top: 10px;
}

label {
	cursor: pointer;
	font-size: 18px;
}